@page "/Sobre"

<PageTitle>Sobre</PageTitle>

<div style="background-color: darkgray">
    <h1>Nome: Fillipe Reis Tomazelli</h1>
    <p>Idade: 16 anos </p>
    <p>formação: cursando o 3º ano</p>
    <p>qualidade: simpático</p>
    <p>Gosto de músicas/instrumental que prestem</p>
</div>

@code {

}
